/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Cradmin left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
*{
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}
body{
    font-size: 14px;
    background:#eaeaea;
    -webkit-font-smoothing: subpixel-antialiased;
    font-family: "HelveticaNeue",Helvetica,Arial,sans-serif;
}
.admin-wrapper {
    background:#fff;
    margin:2em auto;
    padding:1em;
    border-radius:4px;
    max-width:680px;
    line-height: 1.6;
    overflow: hidden;
    box-shadow:0 0 2px rgba(0,0,0,0.3),0 1px 3px rgba(0,0,0,0.2);
}
    .admin-wrapper pre {
        font-family: Monaco, Consolas, "Lucida Console", monospace;
        background-color: #fafafa;
        box-shadow:inset 0 1px 0 #fff, 0 1px 2px rgba(156,156,156,0.13);
        border: 1px solid #ccc;
        font-size: .8em;
        overflow: auto;
        padding: .5em 1em;
        border-radius: 4px;
    }


/* Specific */
/* List */
.hull-quiz_admin__list__item a strong{
    display:block;
}

.hull-quiz_admin__list .hull-quiz_admin__title,
.hull-quiz_admin__form--add .hull-quiz_admin__title{
    border-bottom:1px solid rgba(0,0,0,.1);
    padding:0 0 .25em;
    margin-bottom:.75em;
    font-size:1.25em;
}
h1.hull-quiz_admin__title{
    font-size:1.25em;
}
h3.hull-quiz_admin__title{
    font-size:1em;
}
.hull-form__label{
    font-weight:700;
    margin-bottom:.5em;
    display:block;
}
.hull-form__text-input{
    display:block;
    width:100%;
    background-color: #fff;
    color: inherit;
    font-size: .9em;
    padding:1em;
    border: 1px solid #bbb;
    border-radius: 4px;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    -webkit-font-smoothing: antialiased;
}
    .hull-form__text-input:focus{
        outline:none;
        border-color:#999;
    }
.hull-quiz_admin__form--add ul{
    list-style-type:none;
    padding-left:0;
}
.hull-quiz_admin__header pre{
    margin-bottom:4em;
}
ol.hull-form__fields{
  counter-reset: item;
  list-style-type:none;
  margin-left:0;
  padding-left:0;
}
  .hull-form__fields li{
      position:relative;
  }
  .hull-quiz_admin__form .hull-form__fields > .hull-form__fields__item:before {
    content: 'Question #' counter(item);
    counter-increment: item;
    display:block;
    font-weight:700;
    border-bottom:1px solid rgba(0,0,0,.1);
    padding:0 0 .25em;
    margin-bottom:.75em;
    font-size:1.25em;
  }
  .hull-quiz_admin__choices table input,
  .hull-quiz_admin__choices table{
      width:100%;
  }
    .hull-quiz_admin__choices table {
        width: 100%;
        border-radius: 10px;
        padding: 20px;
        margin-bottom:1em;
    }

    .hull-quiz_admin__choices table th {
        background-color: #fafafa;
        border: 1px solid #ddd;
        font-weight: normal;
        text-align: left;
        padding: 1em;
    }

    .hull-quiz_admin__choices table td {
        border: 1px solid #ddd;
        padding: 1em;
    }
    .hull-quiz_admin__actions{
        margin-bottom:3em;
    }
  .hull-form__fields__item,
  .hull-form__fields__item--add{
      margin-bottom:1em;
  }
  .hull-quiz_admin__details input{
      width:100%;
      display:block;
      margin-bottom:.5em;
  }
.hull-btn{
  font-style:inherit;
  color:#444;
  padding: .5em .75em;
  border-radius: 4px;
  border: 1px solid rgba(0,0,0,.2);
  font-size:.85em;
  font-weight:bold;
  background-color:#fff;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  -webkit-font-smoothing: antialiased;
  background-image: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,.1) 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,.1)));
}
  .hull-btn:hover{
    background-image: -moz-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,.2) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,.2)));
  }
  .hull-btn:active{
    background-image: -moz-linear-gradient(top, rgba(0,0,0,.15) 0%, rgba(0,0,0,.1) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,.152)), color-stop(100%,rgba(0,0,0,.1)));
  }

.hull-form__fields__item--actions .hull-btn{
  float:left;
  margin-bottom:1em;
}
  [data-hull-action="addquestion"].hull-btn{
      margin-bottom:2em;
  }
  [data-hull-action="addquestion"]:before{
      content:"+ "
  }
  [data-hull-action="submit"]{
      clear:left;
      margin-right:.5em;
  }
  [data-hull-action="delete"].hull-btn{
      float:right;
  }






/* ==========================================================================
   Helper classes
   ========================================================================== */

.align-center{
    text-align:center;
}

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contentadminable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}
