<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="brand" href="#">Quiz admin</a>
      <ul class="nav">
        {{#if isAdmin}}
        <li><a href="#users">Users</a></li>
        <li><a href="#quiz">Quizz</a></li>
        <li><a href="#stats">Stats</a></li>
        {{/if}}
      </ul>
    </div>
  </div>
</div>
