<div class="row">
  <div class="span12 text-center">
    {{#if loggedIn}}
      <h3 class="text-error">
        You must be logged in as an administrator to view this page.
      </h3>
    {{else}}
      <p>You must be logged in as an administrator to view this page.</p>
      <div data-hull-component="login/profile@hull"></div>
    {{/if}}
  </div>
</div>

