<ul class="nav nav-tabs nav-stacked">
  {{#quizzes}}
    <li class="divider"></li>
    <li><a href="#" data-hull-action="selectQuiz" class="{{description}}" data-hull-quiz-id="{{id}}">{{name}}</a></li>
  {{/quizzes}}
</ul>
